<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 

  <!-- Main Content -->
  <main class="container">
  <h1 class="">Hello, <br/>Welcome to my portfolio page!</h1>
    <br>
      <h5 class ="">" Our greatest weakness lies in giving up.
      The most certain way to succeed is
      always to try just one more time. "
      </h5>
  </main>

<%- include partials/Bottom_nav.ejs %> 

<%- include partials/footer.ejs %>